.form-creation-trip {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: $secondary-color;

  .form-creation-trip_heading {
    padding: $one-space;
    background-color: $primary-color;
    margin-bottom: $double-space;

    .form-creation-trip_heading-icon {
      color: $yellow-color;
      font-size: 25px;
    }

    .form-creation-trip_heading-title {
      text-align: center;
      color: $light-color;
      padding: $double-space;
      margin-bottom: 0;
    }
  }

  .form-creation-trip_step {
    background-color: $secondary-color;

    .form-creation-trip_step-heading {
      height: 20%;
      padding: $one-space;

      .form-creation-trip_step-heading-icon {
        font-size: 20px;
        color: $secondary-color;
        border-radius: 50%;
        background-color: $orange-color;
        height: 40px;
        width: 40px;
      }

      label {
        padding: $one-space;
        margin-bottom: 0;
        font-size: 18px;
        color: $light-color;
      }
    }

    .form-creation-trip_step-input {
      height: 20%;
      padding: $one-space;

      input {
        background-color: transparent;
        border-style: none;
        border-bottom: 1px solid $orange-color;
        color: $light-color;
        padding: $one-space;
        width: 90%;
      }

      input:focus {
        outline: none;
      }
    }
  }
}
