$primary-color: #024959;
$secondary-color: #027373;
$yellow-color: #f2b705;
$orange-color: #f29f05;
$dark-color: #23261d;
$light-color: #f0f0ee;

$one-space: 1rem;
$double-space: 2rem;

$shadow-box: 0 5px 8px 0;
$shadow-box-color: rgba(0, 0, 0, 0.3);
